@import "tailwindcss";

@layer components {

  .info-button { @apply
    absolute left-8 top-8 text-4xl text-emerald-600 print:hidden
  }

  .info-box { @apply
   hidden list-disc list-outside border-double border-4 rounded-lg border-emerald-600 mx-4 my-8 pl-8 pr-4 py-4 text-left
  }

  .btn-disabled { @apply
    cursor-not-allowed opacity-30
  }

  .btn-blue { @apply
     m-2 rounded-lg py-3 px-5 text-white bg-blue-600 inline-flex font-medium
     justify-center items-center text-center
  }

  .btn-pale-blue { @apply
     m-2 rounded-lg py-3 px-5 text-white bg-blue-400 inline-flex font-medium
     justify-center items-center text-center
  }

  .btn-green { @apply
     m-2 rounded-lg py-3 px-5 text-white bg-green-600 inline-flex font-medium
     justify-center items-center text-center
  }

  .btn-pale-green { @apply
     m-2 rounded-lg py-3 px-5 text-white bg-green-400 inline-flex font-medium
     justify-center items-center text-center
  }

  .btn-pale-orange { @apply
     m-2 rounded-lg py-3 px-5 bg-yellow-200 inline-flex font-medium
     disabled:opacity-50 disabled:cursor-not-allowed
     justify-center items-center text-center
  }

  .btn-grey { @apply
     m-2 rounded-lg py-3 px-5 bg-gray-100 inline-flex font-medium
     justify-center items-center text-center
  }

  .btn-purple { @apply
     m-2 rounded-lg py-3 px-5 text-white bg-purple-600 inline-flex font-medium
     justify-center items-center text-center
  }

  .row-head { @apply
     border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-2
     text-slate-600 dark:text-slate-600 text-center
  }

  .row-main { @apply
     p-2 pl-8 text-black dark:text-black
  }

  .row { @apply
     p-1 pl-4 text-slate-500 dark:text-slate-400
  }

  .row-foot-right { @apply
     border-t dark:border-slate-600 font-medium pt-2
     text-slate-600 dark:text-slate-600 text-right
  }
}
