html, body {
  height: 100%;
}

html, body, svg {
  margin:0;
  padding:0;
}

svg, #edit {
  display: none;
}

p {
  margin-left: 2em;
}

button {
  line-height: 2em;
}

h2 {
  margin-left: 1em;
}

img {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  z-index: -1;
}

#wall {
  z-index: -2;
}

aside {
 position: fixed;
 width: 240px;
 background-color: #CCC;
 height: 100%;
}

#edit input {
  width: 13em
}

#edit input[type=checkbox] {
  width: 1em
}

#edit .right,#edit .left {
  cursor: move
}

#floor, #syllabus {
  margin-left: 240px;
}

#syllabus h2 {
  margin-top: 0;
  padding-top: 1em;
}

#syllabus table {
  margin-left: 2em;
  border: 1px solid black;
  line-height: 1.8em;
  border-collapse: collapse;
}


#syllabus td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tr.section-break td {
  border-top: 1px solid black;
}

#syllabus tr.unavailable {
  color: #888;
}

#syllabus tr {
  cursor: pointer;
}

#editmode {
  margin: 1em 0 0 2em;
}

li.active {
  color: red;
}

li span {
  color: black;
}
