html, body {
  height: 100%;
}

html, body, svg {
  margin:0;
  padding:0;
}

p {
  margin-left: 2em;
}

button {
  line-height: 2em;
}

h2 {
  margin-left: 1em;
}

img {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  z-index: -1;
}

#wall {
  z-index: -2;
}

aside {
 position: fixed;
 width: 240px;
 background-color: #CCC;
 height: 100%;
}

#edit input {
  width: 13em
}

#edit input[type=checkbox] {
  width: 1em
}

#edit .right,#edit .left {
  cursor: move
}

#floor, #syllabus {
  margin-left: 240px;
}

#syllabus h2 {
  margin-top: 0;
  padding-top: 1em;
}

#syllabus table {
  padding-left: 2em;
}

#syllabus tr {
  cursor: pointer;
}
